/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sometype Mono", monospace;

}

img {
    width: 100%;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 6rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    

    /* debug */
    width: 15rem;
}

.close-btn {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 4rem;
}

h3 {
    background-color: white;
    padding: 1rem;
}



/* HEADER */
header {
    background-image: url(../img/wall.png);
}

.header-container {
    display: flex;
    justify-content: center;
    padding: 1rem
}

h1 {
    font-family: "Edu TAS Beginner", cursive;
    font-size: 5rem;
}

/* MAIN */
main {
    width: 100%;
    background-image: url(../img/cork.png);
}

main .container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.row {
    width: 65rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.card {
    width: 21rem;
    padding: 0.8rem;
    background-color: white;
    position: relative;
    box-shadow: 6px 6px 9px 3px rgba(0,0,0,0.3);
}

.card-img:hover {
    cursor: pointer;
}

.pin {
    width: 2rem;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -80%); 
}

.card p {
    padding: 0.5rem 2rem;
    text-align: center;
}


/* //////////// */
/* MEDIA QUERY */
/* ////////// */

/* Desktop First */
@media screen and (max-width: 810px) {
    * {
        box-sizing: content-box;
    }    
}

@media screen and (max-width: 734px) {
    .row {
        justify-content: center;
    }    
}

@media screen and (max-width: 428px) {
   h1 {
    font-size: 4rem;
   }
}